body .container{
    margin: 20px;  
    padding: 20px;
    border-style:none ;
}
.nav-link{
    margin: 0px 30px;
}
.breadcrumb{
    font-size: 14px;
}
.list-group-flush li{
    font-size: 16px;
}
.row,.col-4,
.col-2{
    justify-content: center;
}
.card-body .card-text{
    font-size: 10px;
}
.star{
    color: orange;
    font-size: 12px;
}
.card{
    padding: 20px 15px;
}
.card-img-top{
   
   
}
.pagination{
    margin-top:20px ;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
}
.bottom{
    padding-top: 10px;
}
.footer-list{
    text-align: center;
    font-size: 17px;
}
.footer-list>i{
    margin: 20px 10px;
}
.end{
    text-align: center;
    margin-left: 150px;
    margin-bottom: 70px;
    font-size: 12px;
}
@media screen and (max-width:992px){
    #sidemenu{
        border-style: none;
    }
}